<div class="footer">
  <div class="footer__row">
    <div class="footer__img--wrapper">
      <img src="../../../assets/img/image 6.png" alt="VISA & MasterCard">
    </div>
    <div class="footer__info">
      <div class="footer__reserved">
        <p>© IRVIK</p>
        <p>All RIGHTS RESERVED</p>
      </div>

      <div class="footer__list-of-links">
        <ul>
          <li><a href="#">PRIVACY POLICY</a></li>
          <li><a href="#">TERMS</a></li>
          <li><a href="#">STORE FAQ</a></li>
        </ul>
      </div>
    </div>

    <div class="footer__social-media-links">
      <a href="https://www.facebook.com/">
        <span>
          <img src="../../../assets/img/Facebook.svg" alt="facebook">
        </span>
        <span style="margin-left: -1.5em; font-size: 1.3rem;">
          /IRVIK
        </span>
      </a>
    </div>
  </div>
</div>
