<div class="container">
  <div class="home">
    <section >
      <div class="home__carousel-wrapper">
        <app-swiper></app-swiper>
      </div>
    </section>

    <section >
      <div class="home__info-block">
        <div class="home__btn-container">
          <div class="home__btn-more">
            <button matRipple>See more</button>
          </div>
        </div>
       

        <div class="home__short-info">
          До свят
        </div>

        <div class="home__img-block">
          <img [style.borderRadius]="false ? '1em 0 0 1em' : '0 1em 1em 0'" src="https://7arts.com.ua/content/images/15/originalnyy-derevyannyy-pazl-suvenir-gostevaya-kniga-48239186985171_small11.jpg" alt="">
        </div>
      </div>
    </section>

    <section >
      <div class="home__info-block" style="flex-direction: row-reverse;">
        <div class="home__btn-container">
          <div class="home__btn-more">
            <button matRipple>See more</button>
          </div>
        </div>
       

        <div class="home__short-info">
          До свят
        </div>

        <div class="home__img-block" >
          <img [style.borderRadius]="true ? '1em 0 0 1em' : '0 1em 1em 0'"  src="https://7arts.com.ua/content/images/15/originalnyy-derevyannyy-pazl-suvenir-gostevaya-kniga-48239186985171_small11.jpg" alt="">
        </div>
      </div>
    </section>
  </div>

</div>
